body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #282828;
    color: #f4f4f4;
}

.app-container {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 96vw;
    height: 96vh;
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: auto;
}

h1 {
    color: #f4f4f4;
}

.connect-button {
    display: inline-block;
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.color-control {
    margin-top: 20px;
}

.color-control label {
    margin-right: 10px;
    color: #f4f4f4;
}

#setColorButton {
    margin-left: 10px;
}

.log-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #444;
    border-radius: 5px;
}

.log-header {
    background-color: #333;
    padding: 1px;
    border-bottom: 1px solid #444;
}

.log-header h2 {
    color: #f4f4f4;
    margin: 0;
}

.log {
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    background-color: #333;
    color: #f4f4f4;
    font-family: monospace;
    border-radius: 0 0 5px 5px;
}

.color-option {
    margin-bottom: 20px;
}

/* The switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align: middle;
}

/* The checkbox hidden */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Spacing for the container */
.slide-container {
    margin: 20px 0;
}

/* Text alignment */
.status-label {
    vertical-align: middle;
    margin: 0 10px;
}

.slide-container {
    display: flex;
    align-items: center;  /* Vertically align items in the center */
    justify-content: space-between;  /* Space out the items equally */
    margin: 20px 0;
}

.switch-container {
    display: flex;
    align-items: center;  /* Ensure the switch and its labels are vertically aligned */
}

/* Style for the always-visible top section */
.top-section {
    padding: 20px 0;
    border-bottom: 2px solid #444;
}

.tab-button:disabled {
    background-color: #666;
    cursor: not-allowed;
}
/* Monitor Table Styling */
#monitor table {
    width: 100%; /* Make the table full width */
    max-width: 500px; /* Set a maximum width for the table */
    border-collapse: collapse; /* Remove the spaces between table cells */
    margin-top: 15px; /* Add some margin for spacing */
}

#monitor table td {
    padding: 10px; /* Space inside each cell */
    border-bottom: 1px solid #ddd; /* A light border at the bottom of each cell */
    font-size: 16px; /* Font size of the text */
    color: #777; /* Lighter font color for all text in the table */
}

#monitor table tr:last-child td {
    border-bottom: none; /* Remove border for the last row to clean up appearance */
}

#monitor table td:first-child {
    font-weight: 500; /* Slightly lighter weight for the labels, between normal and bold */
    color: #666; /* Darker (but still light) text for the labels */
    width: 60%; /* Width for the labels column */
}

#monitor table td:last-child {
    text-align: left; /* Align the values to the left */
}

.flex-container {
    display: flex;
    justify-content: space-between;  /* This will add space between the left and right content if needed */
}

.left-content {
    flex: 1;  /* This means the left content will take up as much space as it can, pushing the right content to the side */
    padding: 10px;  /* Add some padding for aesthetics */
}

.right-content {
    flex-basis: 50%;  /* This means the right content will take up about 50% of the container's width */
    padding: 10px;  /* Add some padding for aesthetics */
}
